.prod .new {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
}
.prod .new a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid aqua;
    
}
.products{
    display: flex;
    justify-content: space-around;
    padding: 1% 15%;
    width: 95%;
}
.products .pro .div1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 95%;
    
}

.products .pro{
    position: relative;
}
.products .pro .heartIcon
    {
        position: absolute;
        top:10px;
        right: 21px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
.toggle--button{
    border: none;
    background-color: #D9D9D9;
}
.toggle--btn{
    background-color: aqua;
}
.products .pro .div2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.products .pro .price{
    color: aqua;
    padding-right: 0.5%;
    direction: rtl;
}
.products .pro .size{
    display: flex;
    justify-content:right;
    margin-right: 10px;
}
.products .pro .size p{
    border: 1px solid grey;
    width: 11%;
    text-align: center;
    margin: 3px;
}
.products .pro img{
    width: 95%;
}
.products .pro .link button{
    background-color: #7FD3DF;
    border: 1px solid  #7FD3DF;
    border-radius: 5%;
    height: 9vh;
    width: 94%;
    position: absolute;
    top: 54.6%;
}
.products .pro .stars{
    display: flex;
}
.products .pro .stars .grey{
    color: gray;
}
.products .pro .stars .yellow{
    color: yellow;
}
.products .pro .p1{
    font-size: smaller;
    padding-right: 20px;
}
.products .pro .div2 .dec{
    text-decoration: line-through;
    width: max-content;
}
.products .pro .size .aqua{
    background-color: #7FD3DF;
    border: 1px solid rgb(26, 131, 131);
}
