.oppo
{
    display: flex;
padding: 4.955px 9.911px 4.955px 4.955px;
justify-content: center;
align-items: center;
gap: 39.643px; 
border-radius: 6px;
background: var(--2, rgba(147, 202, 222, 0.30)); 
}

.oppo .bn
{
    background-color:inherit;
    border:1px solid #93CADE;
}