.options {
  display: flex;
  justify-content: center;
}

.options p {
  padding: 40px 35px;
}

.options .rateProduct {
  border-bottom: 1px solid black;
}

.productComments .addRate .rateStar {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.productComments {
  display: flex;
  justify-content: space-around;
}

.productComments .addRate .rateStar p {
  padding-top: 8px;
}

.productComments .addRate .inputOne input {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  width: 572px;
  height: 49px;
  padding: 10px 48px 10px 483px;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  margin-top: 5%;
}

.productComments .addRate .inputTwo {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  width: 572px;
  height: 227px;
  padding: 24px 42px 10px 485px;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
  margin-top: 3%;
}

.productComments .addRate input {
  width: 493px;
  height: 184px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  font-family: Tajawal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #fff;
}

.productComments .addRate .inputThree {
  display: flex;
  margin-top: 3%;
  gap: 2rem;
}

.productComments .addRate .inputThree .un {
  display: flex;
  width: 281px;
  height: 49px;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  border-radius: 49px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  direction: rtl;
}

.productComments .addRate .inputThree .du {
  display: flex;
  width: 257px;
  height: 49px;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  direction: rtl;
}

.productComments .addRate .sendData {
  border-radius: 45px;
  background: var(--primary, #7FD3DF);
  display: flex;
  padding: 10px 37px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 3%;
  color: #FFF;
  text-align: right;
  font-family: Tajawal;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #fff;
  margin-left: 430px;
}

.productComments .comments .tenRate {
  direction: rtl;
  color: rgba(0, 0, 0, 0.7);
  font-family: Tajawal;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.productComments .comment .commentt {
  display: flex;
  margin-top: 50px;
}

.productComments .comment .commentt .commentText .ct1 {
  direction: rtl;
  color: rgba(0, 0, 0, 0.7);
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.productComments .comment .commentt .commentText .ct2 {
  width: 399px;
  height: 110px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  font-family: Tajawal;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.productComments .comment .commentt .commentText .reactStars {
  direction: rtl;
}

.productComments .comment .commentt .commentText .name_date {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-left: 125px;
  margin-top: 10px;
}

.productComments .comment .commentt .commentText .name_date .date {
  direction: rtl;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productComments .comment .commentt .commentText .name_date .name {
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=Comments.css.map */